body {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

p {
  color: #8f8f8f;
}

/* Headings section */

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
}

.big-heading {
  font-size: 3.5rem;
  line-height: 1.5;
  }


  .container-fluid {
    padding: 7% 15%;
  }



/* Navigation Bar */

.navbar {
  padding: 2rem 0 4.5rem 0;
}

.navbar-brand {
  font-family: 'Ubuntu', sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
  font-size: 1.2rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
}

/* Download buttons */

.download-button {
  margin: 5% 3% 5% 0;
}

/* Title Section */

#title {
  text-align: left;
  background-color: #ff4c68;
  color: #fff;
}
#title .container-fluid {
  padding: 3% 15% 7%;
}


/* Title Image */
.title-img {
  width: 25%;
  transform: rotate(25deg);
  position: absolute;
  left: 60%;
}
@media (max-width: 990px) {
  .title-img {
    width: 60%;
    transform: rotate(0);
    position: static;
    padding-top: 30px;
  }
  #title {
    text-align: center;
  }
}

/* Feautures Section */

#features {
  position: relative;
  background-color: #fff;

}

.feutures-title {
  font-size: 1.5rem;
}

.icon {
  color: #ef8172;
  margin-bottom: 1rem;
}
.icon:hover {
  color: #ff4c68;
}

/* Testimonials Section */

#testimonials {
  background-color: #ef8172;
  color: #fff;
}

.testimonial-text {
  font-size: 3rem;
  padding-bottom: 20px;
}

.testimonials-image {
  width: 15%;
  border-radius: 100%;
  margin: 20px;
}

.carousel-item {
  padding: 7% 15%;
}

/* Press Section */

#press {
  background-color: #ef8172;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

/* Pricing section */

#pricing {
  padding: 100px;
}

.section-heading .price-text {
  font-size: 3rem;
  padding-bottom: 20px;
}

.price-header {
  font-size: 1.5rem;
}

.padding-column {
  padding: 3% 2%;
}

/* CTA */

#cta {
  background-color: #ff4c68;
  color: #fff;
}


/* Footer */

.footer-icon {
  padding: 10px;
}
